body{
    margin: 0%;
    font-family: 'Noto Sans JP', sans-serif;
}
section{
    height: 500px;
}
h1{
    font-size: 50px;
}
#hello{
    color: #1616ff;
}
#name{
    color: crimson;
}
#about{
    color: darkblue;
}
#project{
    
    color: darkorange;
    font-size: 40px;
    
}

.project{
    text-align: center;
    margin-bottom: 70px;
}
#service{
    
    color: yellowgreen;
    font-size: 40px;
    
}
.service{
    margin-top: 100px;
    text-align: center;
}
.half-width{
    padding: 2%;
    width: 40%;
    margin-left: 5%;
    float: left;
}
.half-width img{
    width: 100%;
}
.link-botton1{
    text-decoration: none;
    background-image: linear-gradient(45deg, #1414f5d2, #d12cbb, #2c2fc5);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.link-botton2{
    text-decoration: none;
    background-image: linear-gradient(45deg, #1414f5d2,#663cca, #2308bb );
    padding: 10px 20px;
    border-radius: 7px;
    color: white;
}
p{
    margin-bottom: 40px;
}
.pic{
    padding: 2%;
    width: 25%;
    float: left;
    box-shadow: 5px 5px 40px grey;
    border-radius: 17px;
    margin-left: 3%;
    height: 70%;
    background-color: white;
    
    
}
.pic img{
    width: 100%;
}


.servicelogo{
    width: 25%;
    padding: 4%;
    float: left;
    text-align: center;
}
.servicelogo img{
    width: 70%;
    box-shadow: 0px 0px 0px grey;
    
}
.our-service{
    margin-left: 30px;
}
.work{
    background-image: url(image/work.png);
    background-repeat: no-repeat;
    background-size: 700px,1600px;
    margin-bottom: 0px;
    margin-left: 200px ;
    margin-right: 200px;
    margin-top: 50px;
    height: 250px;
    padding: 30px 60px;
}
.work img{
    width: 70%;
}
.workdiv1{
    float:left;
    
}
.workdiv2{
    float:right;
    margin-top: 40px;
    margin-right: 40px;
}
#worktext1{
    color: cornsilk;
    font-size: 30px;

}

.letchat{
    text-decoration: none;
    background-image: linear-gradient(180deg, crimson,tomato);
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    

}

h5{

    font-size: 30px;

}

h6{
    font-size: 20px;
}
.contactline{
    color: orangered;
    text-align: center;
}
.mail{
    color: #9d17b8;
    text-align: center;
}
#mail{
    font-size: 40px;
}
.contactlogo img{
    width: 35px;
    height: 35px;
    padding: 8px;
}
.contactlogo{
    text-align: center;
}
.contactus{
    height: 300px;
}
footer{
    text-align: center;
    margin-bottom: 15px;
}